@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-field {
    @apply w-full rounded-md bg-zinc-100 text-lg font-medium hover:bg-zinc-200 hover:shadow-[0px_0px_2px_0px_rgba(0,0,0,1)] lg:text-xl;
  }
}

image {
  max-width: 100%;
}

:root {
  --spacing-xs: 1rem;
  --spacing-sm: 2rem;

  --input-inline-padding: 1rem;

  --header-height: 80px;
}

@media (min-width: 1024px) {
  :root {
    --spacing-xs: 2rem;
    --spacing-sm: 4rem;
  }
}
