@tailwind base;
@tailwind components;
@tailwind utilities;

image {
  max-width: 100%;
}

:root {
  --spacing-xs: 1rem;
  --spacing-sm: 2rem;

  --header-height: 80px;
}

@media (min-width: 1024px) {
  :root {
    --spacing-xs: 2rem;
    --spacing-sm: 4rem;
  }
}
